.input {
  border-radius: 12px;
  padding: 4px 24px;
  border: none;
  font-family: var(--font-style);
  font-size: var(--regular-font-size);
  box-shadow: 2px 2px 4px var(--green);
  width: 100%;
}

input:focus {
  outline: none;
  border: 2px solid green;
}
