.button {
  width: auto;
  padding: 4px 24px;
  border-radius: 8px;
  font-family: var(--font-style);
  font-size: var(--medium-font-size);
  color: var(--green);
  border: none;
  box-shadow: 2px 2px 4px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
