.send_message,
.receive_message {
  position: relative;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  box-shadow: 1px 1px 8px black;
  display: flex;
  gap: 10px;
}

.send_message {
  background-color: var(--light-green);
  align-self: flex-end;
}

.receive_message {
  background-color: white;
  align-self: flex-start;
}

.time {
  font-size: 14px;
  align-self: flex-end;
  color: #888;
}