.send_message,
.receive_message {
  font-family: var(--font-style);
  font-size: var(--small-font-size);
  box-shadow: 1px 1px 8px var(--black);
  position: relative;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  display: flex;
  gap: 10px;
  text-align: start;
}

.send_message {
  background-color: var(--light-green);
  align-self: flex-end;
}

.receive_message {
  background-color: var(--white);
  align-self: flex-start;
}

.time {
  color: var(--gray);
  font-size: 14px;
  align-self: flex-end;
}
